body{
    background-color: #404258;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#rules{
    color: white;
}

#button-container, #results-container, #play-again{
    display: flex;
    justify-content: center;
}

#button-container button{
    scale: 2;
    gap: 40%;
    padding: 5px 20px 5px 20px;
    margin: 10%;
    background-color: #A7BCB9;
}

.hide-button{
    display: none;
}
